.terminal {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 5px;
}
#terminal {
  width: 60vw;
  min-width: 300px;
  height: 480px;
  overflow: hidden;
}
