.terminal {
  background-color: black;
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  padding: 5px;
}
#terminal {
  width: 65vw;
  min-width: 400px;
  height: 500px;
  overflow: hidden;
}
