<p>This is a JavaScript translation of
  <a href="http://norvig.com/lispy.html" target="_blank">
    Peter Norvig's Scheme interpreter written in Python.
  </a>
</p>

<p>The original work is in just 117 lines of code - it doesn't aim to be a
  comprehensive implementation of a Scheme interpreter, but to illustrate the
  basic ideas of parsing the Scheme syntax and evaluating expressions. This simple
  implementation does not handle errors (and assumes the programmer to be flawless!).
</p>
<p>
  <a href="https://github.com/athkishore/lispy-js-core" target="_blank">
    The JavaScript version
  </a>
   is slightly longer, at about 160 lines, and covers most of
  features in lis.py. You can type in Scheme expressions in the terminal below and
  see Lispy-JS do it's magic!
</p>

<app-lispyjs-interpreter [prompt]="prompt" [numLines]="20"></app-lispyjs-interpreter>
